@import '../../App.scss';

.applyAgencyContainer {
    width: 600px;
    height: 500px;
    background: $backgroundColor;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h2 {
        margin: 0;
        padding: 0 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        height: 80px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;

        .guideContent {
            display: flex;
            justify-content: center;
            align-items: center;
    
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
    
            width: 280px;
            height: 45px;
            position: absolute;
            right: 0;
            top: 0;
            background-color: white;
        }
    }
    
    table {
        width: 90%;
        height: auto;
        margin: 0 auto;

        td {
            height: 50px;
            text-align: center;
            box-sizing: border-box;
            input {
                width: 100%;
                height: 100%;
                font-size: 18px;
                box-sizing: border-box;
                outline: none;
                border: none;
                padding: 0 5px;
                &::placeholder {
                    color: darkgray;
                }
            }
            button {
                background: #F4D4D4;
                width: 90px;
                height: 30px;
                font-style: normal;
                font-size: 18px;
                text-align: center;
                color: #5C5F78;
                border: 1px solid #F4D4D4;
                cursor: pointer;
            }
            article {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                button {
                    background: #F4D4D4;
                    width: 90px;
                    height: 30px;
                    font-style: normal;
                    font-size: 18px;
                    text-align: center;
                    color: #5C5F78;
                    border: 1px solid #F4D4D4;
                    cursor: pointer;

                    position: absolute;
                    right: 0;
                }
            }
        }
    }
    .agencyApplicationButtonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 50%;
        margin: 30px auto 20px;
        button {
            background: #F4D4D4;
            width: 130px;
            height: 40px;
            font-style: normal;
            font-size: 18px;
            text-align: center;
            color: #5C5F78;
            border: 1px solid #F4D4D4;
            cursor: pointer;
            &:last-of-type {
                width: 130px;
                height: 40px;
                background: #5C5F78;
                font-style: normal;
                font-size: 18px;
                text-align: center;
                color: #FFFFFF;
                border: 1px solid #5C5F78;
            }
        }
    }

}