@import '../../App.scss';

.mainContainer {
    width: 100%;
    height: auto;
    .artistsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        grid-auto-rows: 300px;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        overflow: hidden;
        width: 1200px;
        height: 1000px;
        padding-top: 50px;
        border: 2px solid red;
    }
}

.artistContainer {
    width: 350px;
    height: 270px;
    border: 1px solid blue;
    box-sizing: border-box;
}