@import '../../App.scss';

// Notifications 
.notification {
    display: block;
    width: 620px;
    height: 626px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px 0px;
    border: 1px solid rgb(235, 235, 235);
    position: absolute;
    z-index: 2;
    box-shadow : 0px 5px 8px rgba(0, 0, 0, 0.2);
    margin-right: 220px;
    &::-webkit-scrollbar {
        width: 10px;
        background: #FBF6F6;
    }
    &::-webkit-scrollbar-thumb {
        background: #5C5F78;
        background-clip: padding-box;
        border-radius: 5px;
        border: 2.5px solid transparent;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: transparent;
    }
    p {
        padding: 20px 40px 0px;
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }
    .ul {
        padding: 0 20px 20px;
        list-style: none;
    }
}