html, body {
  margin: 0;
  padding: 0;
  background: #fbf6f6;
  color: #5C5F78;
}

body::-webkit-scrollbar {
  background: #fbf6f6;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
  border: 2px solid transparent;
}

div {
  box-sizing: border-box;
}

// all section
.section {
  display: flex;
  justify-content: flex-end;
  overflow: auto;
}

$backgroundColor: #fbf6f6;
$pointColor: #F4D4D4;
$footerColor: #5C5F78;
$galaryColor: #EBEBEB;


// toggle button
.toggle-area {
  width: auto;
  height: auto;
}

.toggle-switch {
  --width: 60px;
  --height: 30px;
  --padding: 3px;
  --handle-size: calc(var(--height) - var(--padding) * 2);
  --handle-right-size: calc(var(--height) - var(--padding) * 0.3);
  display: inline-block;
  outline-width: 0;
}

.toggle-switch > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  display: none;
}

.area {
  padding: 4px;
  margin: -4px;
  position: relative;
  display: flex;
  align-items: center;
}

.area p {
    margin: 0;
    padding: 1px 3px 0;
    font-size: 13px;
    position: absolute;
    right: 13px;
    font-family: "Wemakeprice-bold";
}

.background,
.handle,
.area p {
  transition: all 0.3s ease;
}

.background {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: var(--width);
  height: var(--height);
  border-radius: var(--height);
  padding: 0 var(--padding);
  vertical-align: text-bottom;
  user-select: none;
  background-color: #ebebeb;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: background-color .15s ease;
  cursor: pointer;
}


.handle {
  width: var(--handle-size);
  height: var(--handle-size);
  background-color: white;
  border-radius: 50%;
  box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.5),
      inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

input:checked + label .area .background {
  background-color: #5C5F78;
}

input:checked + label .area .handle {
  transform: translateX(calc(var(--width) - var(--handle-right-size)));
}

input:checked + label .area p {
  position: absolute;
  left: 12px;
  color: white;
}