html, body {
  margin: 0;
  padding: 0;
  background: #fbf6f6;
  color: #5C5F78;
}

body::-webkit-scrollbar {
  background: #fbf6f6;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
  border: 2px solid transparent;
}

div {
  box-sizing: border-box;
}