@import '../App.scss';

@mixin resetUl($up: 0, $side: 20px, $down: 20px) {
    padding: $up $side $down;
    list-style: none;
}

// 로고
.logo {
    width: auto;
    margin: 0 30px 0 10px;
    font-size: 30px;
    cursor: pointer;
    font-weight: lighter;
}
// header (navbar)
.menuContainer {
    max-width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.main-nav-search {
    outline: none;
    border: none;
    border-radius: 10px;
    height: 35px;
    background: #ebebeb;
    width: 80%;
    max-width: 600px;
    padding: 0 10px;
    box-sizing: border-box;
}

// navbar Icons
.navIcon {
    width: 30px;
    margin: 2px 15px;
    &.noticeIcon, &.mailIcon {
        width: 35px;
        height: 35px;
    }
}

// search artist - main page
#check {
    display: none;
}
#check:checked + .artistSearchContainer{
    width: 500px;
    input {
        opacity: 1;
    }
}
.artistSearchContainer {
    display: flex;
    .artistSearch {
        background-color: rgba(215, 215, 215, 0.3);
        border: none;
        border-radius: 30px;
        outline: none;
        padding-left: 20px;
        box-shadow: 0 1px 1px 0 rgba(215, 215, 215, 0.5);
        transition: .5s;
        opacity: 0;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        width: 300px;
        box-shadow : 0px 5px 8px rgba(0, 0, 0, 0.1);
    }
    .artistSearchResultContainer {
        width: 310px;
        height: 150px;
        background-color: white;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px 0px;
        border: 1px solid rgb(235, 235, 235);
        margin-right: 400px;
        position: absolute;
        z-index: 2;
        display: none;
        .artistResult {
            display:flex;
            align-items: center;
            gap: 0.6em;
            padding: 5px 0px;
            .artistProfile {
                margin-top: 10px;
                width: 50px;
                height: 50px;
                border-radius: 70%;
                overflow: hidden;
                display:inline-block;
                margin-left:10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .artistName {
                font-size: 18px;
                font-weight: lighter;
            }
            &:hover {
                background:rgba(229, 210, 210, 0.45);
            }
        }
        &::-webkit-scrollbar {
            width: 10px;
            background: #FBF6F6;
        }
        &::-webkit-scrollbar-thumb {
            background: #5C5F78;
            background-clip: padding-box;
            border-radius: 5px;
            border: 2.5px solid transparent;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background: transparent;
        }
    }
}

// all section
.section {
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}

// Notifications 
.notification {
    display: block;
    width: 620px;
    height: 626px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px 0px;
    border: 1px solid rgb(235, 235, 235);
    position: absolute;
    z-index: 2;
    box-shadow : 0px 5px 8px rgba(0, 0, 0, 0.2);
    margin-right: 220px;
    &::-webkit-scrollbar {
        width: 10px;
        background: #FBF6F6;
    }
    &::-webkit-scrollbar-thumb {
        background: #5C5F78;
        background-clip: padding-box;
        border-radius: 5px;
        border: 2.5px solid transparent;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: transparent;
    }
    p {
        padding: 20px 40px 0px;
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }
    @at-root .ul {
        @include resetUl;
    }
    .notification-ul {
        li {
            display:flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ACACAC;
            padding: 20px 0px 10px 22px;
            color: #000000;
            padding-bottom: 20px;
            font-style: normal;
            font-size: 16px;
            cursor: pointer;
            span {
                display: inline-block;
                color:#ACACAC;
                margin-left: 5px;
                font-size: 15px;
                font-weight:540;
            }
            .deleteButtonContainer {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                display: flex;
                align-items: center;
            }
            &:hover {
                background:rgba(229, 210, 210, 0.30);
            }
        }
    }
}

// mails
.mail {
    @extend .notification;
    margin-right: 100px;
    b {
        padding: 40px;
        display: inline-block;
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        box-sizing: border-box;
    }
    p {
        padding: 0;
    }
    .mail-ul {
        .getMailDate {
            padding-left:20px;
            color: #000000;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            margin: 0;
        }
        li {
            border-bottom: 1px solid #ACACAC;
            padding: 20px 0px 20px 22px;
            color: #000000;
            font-style: normal;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background:rgba(229, 210, 210, 0.30);
            }
            .getMailById {
                display: inline-block;
                margin-right: 25px;
                font-weight: bold;
                color: #000000;
            }
            .getMailByTime {
                display: inline-block;
                color:#ACACAC;
                margin-left: 5px;
                font-size: 15px;
                font-weight:540;
            }
            .isOpenMail {
                display: inline-block;
                margin-left: 25px;
                font-weight: bold;
                color: #F46060;
            }
        }
    }
}


.moreMenu {
    display: block;
    width: 160px;
    height: 130px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px 0px;
    border: 1px solid rgb(235, 235, 235);
    margin-right: 40px;
    position: absolute;
    z-index: 2;
    overflow: auto;
    box-shadow : 0px 5px 8px rgba(0, 0, 0, 0.2);
    &::-webkit-scrollbar {
        width: 10px;
        background: #FBF6F6;
    }
    &::-webkit-scrollbar-thumb {
        background: #5C5F78;
        background-clip: padding-box;
        border-radius: 5px;
        border: 2.5px solid transparent;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: transparent;
    }
    .menu-ul {
        padding: 0 20px 0;
        li {
            color: #000000;
            font-style: normal;
            font-size: 16px;
            cursor: pointer;
            border-bottom: 1px solid #ACACAC;
            padding: 10px 0;
            &:hover {
                color: #ec8c8c;
            }
        }
    }
}


#alarmCount {
    position: absolute;
    top: 25px;
    right: 217px;
    color: white;
    background-color: rgb(250, 158, 158);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
#cartCount {
    @extend #alarmCount;
    right: 157px;
}
#mailCount {
    @extend #alarmCount;
    right: 96px;
}


/* 로그인 회원가입 */
button[id*="loginBtn"]{
    outline: none;
    width: 100px;
    height: 37px;
    border:#F4D4D4;
    background: #F4D4D4;
    border-radius: 10px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
    outline: none;
 
}
button[id*="joinBtn"]{
    outline: none;
    width: 110px;
    height: 37px;
    border: 1px solid #E5D2D2;
    background: #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #E5D2D2;
    outline: none;
}




