@import '../../../App.scss';

.registerArtistsContainer {
    .headerContainer {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            width: 90%;
            min-width: 430px;
            max-width: 1200px;
            margin: 30px auto;
            border-bottom: 1px solid black;
            font-family: Yoon Minguk;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 70px;
            letter-spacing: 2px;
            position: relative;

            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        article {
            width: 350px;
            height: 55px;
            box-sizing: border-box;
            position: relative;
            input {
                width: 100%;
                min-width: 300px;
                height: 100%;
                padding: 1px 40px 1px 30px;
                box-sizing: border-box;
                border-radius: 50px;
                outline: none;
                border: 2px solid $footerColor;
                background-color: $backgroundColor;

                font-family: Yoon Minguk;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                &::placeholder {
                    color: lightgray;
                }

            }
            .searchIcons {
                font-size: 30px;
                color: $footerColor;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-45%);
                z-index: 3;
                cursor: pointer;
            }
        }
    }
    .artistsContainer {
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
        grid-template-rows: 40px repeat(2, 400px);
        grid-auto-rows: 400px;
        width: 90%;
        max-width: 1200px;
        height: 800px;
        margin: 0 auto;
        background-color: white;
        overflow-y: auto;
        &::-webkit-scrollbar {
            background: #fbf6f6;
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background: lightgray;
            border-radius: 5px;
            border: 2px solid transparent;
        }
        button {
            grid-column: 1 / 4;
            position: sticky;
            top: 0;
            z-index: 3;
            justify-self: flex-end;
            background: #F4D4D4;
            width: 170px;
            height: 50px;
            font-family: Yoon Minguk;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            text-align: center;
            color: #5C5F78;
            border: none;
            cursor: pointer;
        }
        .createArtistContainer {
            width: 350px;
            height: 350px;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $galaryColor;
            color: black;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-break: auto;
            line-height: 50px;
            text-align: center;
        }
    }
}