@import '../../../App.scss';

.chooseMenuContainer {
    width: 400px;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}