@import '../../../App.scss';

.createMemberContainer {
    width: 600px;
    height: 450px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h2 {
        width: 90%;
        margin: 30px auto 40px;
        border-bottom: 1px solid black;
        font-family: Yoon Minguk;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 40px;
    }
    table {
        width: 90%;
        margin: 0 auto;
        td {
            text-align: center;
            height: 40px;
            font-family: Yoon Minguk;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            img {
                width: 150px;
                height: 150px;
                box-shadow: 0 2px 5px rgba(150, 150, 150, 0.5);
            }
            input {
                width: 100%;
                height: 30px;
                padding: 2px 5px;
                box-sizing: border-box;
                border: 1px solid lightgray;
                outline: none;

                font-family: Yoon Minguk;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;

                &::placeholder {
                    font-size: 13px;
                    color: lightgray;
                }
                &:focus {
                    border: 1px solid red;
                }
            }
            &:last-of-type {
                button {
                    background: #EBEBEB;
                    width: 80px;
                    height: 30px;
                    font-style: normal;
                    font-size: 14px;
                    text-align: center;
                    color: #5C5F78;
                    border: none;
                    cursor: pointer;
                }
            }
            button {
                background: #EBEBEB;
                width: 100px;
                height: 30px;
                font-style: normal;
                font-size: 16px;
                text-align: center;
                color: #5C5F78;
                border: none;
                cursor: pointer;
            }
        }
        th {
            text-align: right;
            height: 40px;
            font-family: Yoon Minguk;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
        }
    }
    .createMemberButtonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 50%;
        margin: 50px auto 15px;
        button {
            background: #F4D4D4;
            width: 130px;
            height: 40px;
            font-style: normal;
            font-size: 18px;
            text-align: center;
            color: #5C5F78;
            border: 1px solid #F4D4D4;
            cursor: pointer;
            &:last-of-type {
                width: 130px;
                height: 40px;
                background: #5C5F78;
                font-style: normal;
                font-size: 18px;
                text-align: center;
                color: #FFFFFF;
                border: 1px solid #5C5F78;
            }
        }
    }
}